@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color:#1f1f25;
    margin: 50px;
}
h1{
    align-items: center;
    color: #fffefe;
    font-size: 80px;
    font-weight: 500;
}