@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');
#preloader{
    background:#3C6255;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1000;
}
:root {
    --color-body: #b6cbce;
    --color-heading: #fffefe;
    --color-base2: #3C6255;
    --color-base: #61876E;
    --color-brand2: #A6BB8D;
    --color-brand: #EAE7B1;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}
.darkmode{
    --color-body: #b6cbce;
    --color-heading: #fdffc4;
    --color-base2: #004135 ;
    --color-base: #00332a   ;
    --color-brand2: #93b36e;
    --color-brand: #b4dd86;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}

body {
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: var(--font-base), sans-serif;

}
.home
#name{
    margin-top: 8px;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color-heading);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-brand);
}

img {
    width: 100%;
}

.text-brand {
    color: var(--color-brand);
}

.bg-base {
    background-color: var(--color-base);
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255,255,255, 0.1);
}

.shadow-effect {
    transition: all 0.5s;
}

.shadow-effect:hover {
    box-shadow: -6px 6px 0 0 var(--color-brand);
}

.iconbox {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: var(--color-brand);
    color: var(--color-base);
}

/* NAVBAR */
.navbar {
    background-color: var(--color-base);
    z-index: 2;
}
.navbar .nav-link {
    font-weight: 700;
    color: #fff;
}

.navbar .nav-link:hover {
    color: var(--color-brand);
}

.navbar .nav-link.active {
    color: var(--color-brand);
}

@media (min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidbar-width);
        /* background: linear-gradient(rgba(3, 63, 71, 0.8), rgba(3, 63, 71, 0.8)), url(../images/sidebar-img.jpg); */
        background-size: cover;
        background-position: center;
    }

    .navbar-brand img {
        border: 4px solid var(--color-heading);
    }

    /* CONTENT WRAPPER */
    #content-wrapper {
        padding-left: var(--sidbar-width);
    }
}

/* BTN */
.btn {
    padding: 12px 28px;
    font-weight: 700;
}

.btn-brand {
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    color: var(--color-base);
}

.btn-brand:hover,
.btn-brand:focus {
    background-color: var(--color-brand2);
    color: var(--color-base);
    border-color: var(--color-brand2);
}

.link-custom {
    font-weight: 700;
    position: relative;
}

.link-custom::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover::after {
    width: 100%;
}

.modal-buttons {
    background: none;
    border: none;
    padding: 0%;
    color: var(--color-body);
    font-weight: 700;
    position: relative;
}

.modal-buttons:hover{
    color: var(--color-brand);
    transition: all 0.4s;

}

.modal-buttons::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.modal-buttons:hover::after {
    width: 100%;
    color: white !important;

}

.modal-header{
    background-color: var(--color-base2);
    color: var(--color-heading);
}

.modal-body{
    background-color: var(--color-base);
    color: var(--color-body);
    padding: 40px;
    
}

/* CARD */
.card-custom .card-custom-image {
    overflow: hidden;
}

.card-custom .card-custom-image img {
    transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
    transform: scale(1.1);
}

.item{
    margin-bottom: 10px;
     margin-left: 10px;
}


/* CONTACT */
#contact .form-control {
    background-color: var(--color-base);
    border-color: var(--color-base);
    color: var(--color-body);
}

#contact .form-control:focus {
    border-color: var(--color-brand);
    box-shadow: none;
}

#contact .form-control::placeholder {
    color: var(--color-body);
}

#contact input.form-control {
    height: 44px;
}

/* SOCIAL ICONS */


.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-base);
    border-radius: 100px;
    font-size: 24px;
}

.autotype{
    color: var(--color-brand)
}

#toggleDark{
    font-size: 40px;
    cursor: pointer;
    position: top;
    text-decoration: none;
    color: var(--color-brand2);

}

.alert{
    background: #3bb543dc;
    color: var(--color-heading);
    font-weight: 500;
    font-size: large;
    padding: 20px 40px;
    z-index: 100;
    min-width: 420px;
    position: absolute;
    right: 0px;
    border-radius: 8px;
    border-left: 4px solid #4bb543;
}

.owl-theme .owl-dots {
      color: #5110e9;
}

.invalid-feedback{
    color:#ff8c8c;
    font-size: medium;  
    font-weight: 400;
}
.loader-wrapper{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-base2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #fffefe;
    border-radius:10px;
    animation: loader 2s infinite ease;
  }
  
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
    }
  }
  