@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

:root {
    --color-body: #b6cbce;
    --color-heading: #fffefe;
    --color-base2: #3C6255;
    --color-base: #61876E;
    --color-brand2: #A6BB8D;
    --color-brand: #EAE7B1;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}
.darkmode{
    --color-body: #b6cbce;
    --color-heading: #fdffc4;
    --color-base2: #004135 ;
    --color-base: #00332a   ;
    --color-brand2: #93b36e;
    --color-brand: #b4dd86;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}

body {
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: var(--font-base), sans-serif;

}
.home
#name{
    margin-top: 8px;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color-heading);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-brand);
}

img {
    width: 100%;
}

.text-brand {
    color: var(--color-brand);
}

.bg-base {
    background-color: var(--color-base);
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255,255,255, 0.1);
}

.shadow-effect {
    transition: all 0.5s;
}

.shadow-effect:hover {
    box-shadow: -6px 6px 0 0 var(--color-brand);
}

.iconbox {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: var(--color-brand);
    color: var(--color-base);
}

/* NAVBAR */
.navbar {
    background-color: var(--color-base);
}

.navbar .nav-link {
    font-weight: 700;
    color: #fff;
}

.navbar .nav-link:hover {
    color: var(--color-brand);
}

.navbar .nav-link.active {
    color: var(--color-brand);
}

@media (min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidbar-width);
        /* background: linear-gradient(rgba(3, 63, 71, 0.8), rgba(3, 63, 71, 0.8)), url(../images/sidebar-img.jpg); */
        background-size: cover;
        background-position: center;
    }

    .navbar-brand img {
        border: 4px solid var(--color-heading);
    }

    /* CONTENT WRAPPER */
    #content-wrapper {
        padding-left: var(--sidbar-width);
    }
}

/* BTN */
.btn {
    padding: 12px 28px;
    font-weight: 700;
}

.btn-brand {
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    color: var(--color-base);
}

.btn-brand:hover,
.btn-brand:focus {
    background-color: var(--color-brand2);
    color: var(--color-base);
    border-color: var(--color-brand2);
}

.link-custom {
    font-weight: 700;
    position: relative;
}

.link-custom::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover::after {
    width: 100%;
}
.modal-buttons {
    background: none;
    border: none;
    padding: 0%;
    color: var(--color-body);
    font-weight: 700;
    position: relative;
}
.modal-buttons:hover{
    color: var(--color-brand);
    transition: all 0.4s;

}

.modal-buttons::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--color-brand);
    color: var(--color-brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.modal-buttons:hover::after {
    width: 100%;
    color: white !important;

}

.modal-header{
    background-color: var(--color-base2);
    color: var(--color-heading);
}
.modal-body{
    background-color: var(--color-base);
    color: var(--color-body);
    padding: 40px;
    
}
/* @media (max-width: 767px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
/* @media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
} */



/* CARD */
.card-custom .card-custom-image {
    overflow: hidden;
}

.card-custom .card-custom-image img {
    transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
    transform: scale(1.1);
}
@media (min-width: 768px) {
    .carousel-inner {
      display: flex;
    }
    .carousel-item {
      margin-right:10px;
      flex: 0 0 33.333333%;
      display: block;
    }
  }
.carousel-inner{
    padding: 1em;
}
.card{
    margin: 0 .5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
}
.carousel-control-prev, .carousel-control-next{
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

/* CONTACT */
#contact .form-control {
    background-color: var(--color-base);
    border-color: var(--color-base);
    color: var(--color-body);
}

#contact .form-control:focus {
    border-color: var(--color-brand);
    box-shadow: none;
}

#contact .form-control::placeholder {
    color: var(--color-body);
}

#contact input.form-control {
    height: 44px;
}

/* SOCIAL ICONS */


.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-base);
    border-radius: 100px;
    font-size: 24px;
}
.autotype{
    color: var(--color-brand)
}
#toggleDark{
    font-size: 40px;
    cursor: pointer;
    position: top;
    text-decoration: none;
    color: var(--color-brand2);

}
.alert{
    background: #3bb543dc;
    color: var(--color-heading);
    font-weight: 500;
    font-size: large;
    padding: 20px 40px;
    z-index: 100;
    min-width: 420px;
    position: absolute;
    right: 0px;
    border-radius: 8px;
    border-left: 4px solid #4bb543;
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.particle-text
{
  text-align: center;
  font-size:40px;
  color: white;
  font-family:segoe-print;
}
#leaves {position:relative;top:-50px;width:100%;text-align: right; padding-right: 20%;}

#leaves i {
    display: inline-block;
    width: 200px;
    height: 150px;
    background: linear-gradient(to bottom right, #309900, #005600);
    transform: skew(20deg);
    border-radius: 5% 40% 70%;
    box-shadow: inset 0px 0px 1px #222;
    /* border: 1px solid #333; */
    z-index: 1;
    -webkit-animation: falling 5s 0s infinite;
}

#leaves i:nth-of-type(2n) { -webkit-animation: falling2 10s 0s infinite; }
#leaves i:nth-of-type(3n) { -webkit-animation: falling3 10s 0s infinite; }

#leaves i:before {
  position: absolute;
  content: '';
  top: 217px;
  right: 9px;
  height: 27px;
  width: 232px;
  transform: rotate(49deg);
  border-radius: 0% 15% 15% 0%;
  /* border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  border-left: 0px solid #222;
  border-right: 1px solid #222; */
  background: linear-gradient(to right, rgba(0,100,0,1), #005600);
  z-index: 1;
}

#leaves i:after {
  content: '';
  height: 125px;
  width: 10px;
  background: linear-gradient(to right, rgba(0,0,0,.15), rgba(0,0,0,0));
  display: block;
  transform: rotate(125deg);
  position: absolute;
  left: 85px;
  border-radius:50%;
}


#leaves i:nth-of-type(n)    { height:23px; width:30px; }
#leaves i:nth-of-type(n):before { width:7px; height:5px; top:17px; right:1px; }
#leaves i:nth-of-type(n):after { width:2px; height:17px; left: 12px; top:0px; }

#leaves i:nth-of-type(2n+1)    { height:11px; width:16px; }
#leaves i:nth-of-type(2n+1):before { width:4px; height:3px; top:7px; right:0px; }
#leaves i:nth-of-type(2n+1):after { width:2px; height:6px; left: 5px; top:1px; }

#leaves i:nth-of-type(3n+2)  { height:17px; width:23px; }
#leaves i:nth-of-type(3n+2):before  { height:4px; width:4px; top:12px; right:1px; }
#leaves i:nth-of-type(3n+2):after  { height:10px; width:2px; top:1px; left:8px; }

#leaves i:nth-of-type(n)   { -webkit-animation-delay: 2.9s;}
#leaves i:nth-of-type(2n)  { -webkit-animation-delay: 4.9s;}
#leaves i:nth-of-type(3n)  { -webkit-animation-delay: 3.3s;}
#leaves i:nth-of-type(4n)  { -webkit-animation-delay: 5.4s;}
#leaves i:nth-of-type(5n)  { -webkit-animation-delay: 6s;  }
#leaves i:nth-of-type(6n)  { -webkit-animation-delay: 4.5s;}
#leaves i:nth-of-type(7n)  { -webkit-animation-delay: 3.8s;}
#leaves i:nth-of-type(8n)  { -webkit-animation-delay: 2.5s;}
#leaves i:nth-of-type(9n)  { -webkit-animation-delay: 4.3s;}
#leaves i:nth-of-type(10n) { -webkit-animation-delay: 3.5s;}
#leaves i:nth-of-type(11n) { -webkit-animation-delay: 2.2s;}
#leaves i:nth-of-type(12n) { -webkit-animation-delay: 5.1s;}
#leaves i:nth-of-type(13n) { -webkit-animation-delay: 2s;  }
#leaves i:nth-of-type(14n) { -webkit-animation-delay: 5.7s;}
#leaves i:nth-of-type(15n) { -webkit-animation-delay: 4s;  }

#leaves i:nth-of-type(n)    { background: linear-gradient(to bottom right, #309900, #005600); }
#leaves i:nth-of-type(2n+2)  { background: linear-gradient(to bottom right, #5e9900, #2b5600); }
#leaves i:nth-of-type(4n+1)  { background: linear-gradient(to bottom right, #990, #564500); }

#leaves i:nth-of-type(n)    { opacity: .7;}
#leaves i:nth-of-type(3n+1)  { opacity: .5;}
#leaves i:nth-of-type(3n+2)  { opacity: .3;}

#leaves i:nth-of-type(n)    {transform: rotate(180deg);}


#leaves i:nth-of-type(n) { -webkit-animation-timing-function:ease-in-out;}

@-webkit-keyframes falling {
    
    0% {
        -webkit-transform:
            translate3d(300,0,0)
            rotate(0deg);
    }
    
    100% {
        -webkit-transform:
            translate3d(-350px,700px,0)
            rotate(90deg);
        opacity: 0;
    }
}

@-webkit-keyframes falling3 {
     0% {
        -webkit-transform:
            translate3d(0,0,0)
            rotate(-20deg);
    }
    
    100% {
        -webkit-transform:
            translate3d(-230px,640px,0)
            rotate(-70deg);
        opacity: 0;
    }
}

@-webkit-keyframes falling2 {
     0% {
        -webkit-transform:
            translate3d(0,0,0)
            rotate(90deg);
    }
    
    100% {
        -webkit-transform:
            translate3d(-400px,680px,0)
            rotate(0deg);
        opacity: 0;
    }
}